*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	box-sizing: inherit;
	font-size: 62.5%;
}
body {
	background: #344258;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.App {
  display: grid;
  margin: 0 auto;
	padding: 0 1rem;
	max-width: 122rem;
  grid-template-areas: 
  "h h"
  "s c";
  grid-template-columns: 30rem 5fr;
  grid-template-rows: 7.2rem 1fr;
	gap: 1rem;
  color: #fff;
	height: 100vh;
}
.title {
	text-transform: uppercase;
	font-size: 2rem;
	color: #a2a5b9;
	padding-left: 2rem;
	padding-bottom: 1rem;
	position: sticky;
}